CREATE TABLE IF NOT EXISTS %s (
  object_id VARCHAR(1024) PRIMARY KEY,
  version_id VARCHAR(255) NOT NULL,
  object_root_path VARCHAR(2048) NOT NULL,
  revision_id VARCHAR(255),
  inventory_digest VARCHAR(255) NOT NULL,
  digest_algorithm VARCHAR(255) NOT NULL,
  update_timestamp TIMESTAMP NOT NULL,
  inventory BLOB
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
