version: "3.8"
services:
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:z
    network_mode: "host"
  grafana:
    image: grafana/grafana
    network_mode: "host"
